/* rgb(254, 204, 140) 0%, rgb(252, 167, 98) 39.58%, rgb(246, 249, 175) 100%); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Poppins', 'Arial', sans-serif;
}

body {
    width: 100%;
    height: 400vh;
    background-image: linear-gradient(rgb(254, 204, 140) 0%, rgb(252, 167, 98) 39.58%, rgb(246, 249, 175) 100%);
}

/* Mobile */
header {
    position: relative;
    width: 100%;
    height: 30vh;
    margin-top: 2vh;
}

header div#lang {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    height: 3vh;
    left: 10%;
    right: 10%;
}

header div#lang img {
    width: 7%;
}

header div#lang span {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;

}

header img#logo {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 55vw;
}